{% load static %}

<!-- Header Section Begin -->
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="col-lg-2">
                    <div class="header__logo">
                        <a href="{% url 'Anima:index' %}">
                            <img src="{% static 'img/logo.png' %}" alt="">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="header__nav">
                        <nav class="header__menu mobile-menu">
                            <ul>
                                <li class="active"><a href="{% url 'Anima:index' %}">Homepage</a></li>
                                <li><a href="{% url 'Anima:categories'  %}">Categories <span class="arrow_carrot-down"></span></a>
                                    <ul class="dropdown">
                                        <li><a href="{% url 'Anima:categories'  %}">Categories</a></li>
                                    </ul>
                                    {% if not user.is_authenticated %}
                                        <li><a href="{% url 'User:login' %}">Login</a></li>
                                    {% endif %}
                                    {% if user.is_authenticated %}
                                        <li><a href="{% url 'User:logout' %}">Logout</a></li>
                                    {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="header__right">
                        {% if not user.is_authenticated %}
                            <a href="{% url 'User:login' %}"><span class="icon_profile"></span></a>
                        {% else %}
                            {% if user.username %}
                                <span style="color: white; padding-right: 3px">{{ user.username }}</span>
                                <a href="{% url 'Anima:userpage' username=user.username%}"><span class="icon_profile"></span></a>
                                {% else %}
                                <span style="color: white; padding-right: 3px">{{ user.email }}</span>
                                <a href="{% url 'Anima:userpage' username=user.email%}"><span class="icon_profile"></span></a>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>
    <!-- Header End -->