<!DOCTYPE html>
{% extends 'main/base.html' %}

{%block content%}
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

   

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'Anima:index' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'Anima:categories' %}">Categories</a>
                        <span>{{ anime.categories.first }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="anime__details__content">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="anime__details__pic set-bg" data-setbg={{ anime.image.url }}>
                            <div class="comment"><i class="fa fa-comments"></i> {{ reviews|length }}</div>
                            <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="anime__details__text">
                            <div class="anime__details__title">
                                <h3>{{ anime.title }}</h3>
                            </div>
                            <div class="anime__details__rating">
                                <div class="rating">
                                    {% if not rating %}
                                    <a href="{% url 'Anima:score' anime.slug 1 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 2 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 3 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 4 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 5 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 6 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 7 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 8 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 9 %}"><i class="fa fa-star-o"></i></a>
                                    <a href="{% url 'Anima:score' anime.slug 10 %}"><i class="fa fa-star-o"></i></a>
                                        {% else %}
                                        {% for i in '0123456789'|make_list %}
                                            {% if forloop.counter <= rating.rating %}
                                            <a href="{% url 'Anima:score' anime.slug forloop.counter %}"><i class="fa fa-star"></i></a>
                                                {% else %}
                                                <a href="{% url 'Anima:score' anime.slug forloop.counter %}"><i class="fa fa-star-o"></i></a>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </div>
                                {% if ratings %}
                                <span>{{ ratings.count }} Votes</span>
                                {% endif %}
                            </div>
                            <p>{{ anime.description }}</p>
                            <div class="anime__details__widget">
                                <div class="row">
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Type:</span> {{anime.type}}</li>
                                            <li><span>Studios:</span> {{ anime.studio }}</li>
                                            <li><span>Date aired:</span> {{ anime.date_aired|date:'Y M' }}</li>
                                            <li><span>Status:</span> {{ anime.status }}</li>
                                            <li><span>Genres:</span> {{ anime.get_str_genres }}</li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-6 col-md-6">
                                        <ul>
                                            <li><span>Series:</span> {{ anime.series }}</li>
                                            <li><span>Rating:</span> {{ anime.rating }} / 10</li>
                                            <li><span>Duration:</span> 24 min/ep</li>
                                            <li><span>Quality:</span> 360p+</li>
                                            <li><span>Views:</span> {{ anime.views }}</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="anime__details__btn">
                                {% if not followed %}
                                <a href="{% url 'Anima:follow' anime.slug %}" class="follow-btn"><i class="fa fa-heart-o"></i> Follow</a>
                                    {% else %}
                                    <a href="{% url 'Anima:follow' anime.slug %}" class="follow-btn"><i class="fa fa-heart"></i> Followed</a>
                                {% endif %}
                                {% if anime.player %}
                                <a href="{% url 'Anima:player' anime.slug  1%}" class="watch-btn"><span>Watch Now</span> <i
                                    class="fa fa-angle-right"></i></a>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-md-8">
                        <div class="anime__details__review">
                            <div class="section-title">
                                <h5>Reviews</h5>
                            </div>
                            {% if reviews %}
                            {% for review in reviews %}
                            <div class="anime__review__item">
                                <div class="anime__review__item__pic">
                                    {% if review.user.image %}
                                    <img src="{{ review.user.image.url }}" alt="">
                                        {% else %}
                                        <img src="/media/default-user-image.png" alt="">
                                    {% endif %}
                                </div>
                                <div class="anime__review__item__text">
                                    <h6>{% if review.user.username %}
                                        <a href="{% url 'Anima:userpage' username=review.user.username%}">{{ review.user.username }}</a> {% else %}
                                        <a href="{% url 'Anima:userpage' username=review.user.email%}">{{ review.user.email }}</a>
                                    {% endif %}<span>
                                        {{review.time}}</span></h6>
                                    <p>{{ review.text}}</p>
                                </div>
                            </div>
                            {% endfor %}
                                {% else %}
                                <p style="color: white">No reviews...</p>
                        {% endif %}
                        </div>
                        <div class="anime__details__form">
                            <div class="section-title">
                                <h5>Your Comment</h5>
                            </div>
                            <form action="." method="post">
                                 {% csrf_token %}
                                {{ form.text }}
                                <button type="submit"><i class="fa fa-location-arrow"></i> Review</button>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4">
                        <div class="anime__details__sidebar">
                            <div class="section-title">
                                <h5>you might like...</h5>
                            </div>
                            {% for anim in animes|slice:3 %}
                                <div class="product__sidebar__view__item set-bg" data-setbg="{{ anim.image.url }}">
                                    <div class="ep">{{ anim.date_aired|date:"M , Y" }}</div>
                                    <div class="view"><i class="fa fa-eye"></i> {{ anim.views }}</div>
                                    <h5><a href="{% url 'Anima:anime' anim.slug %}">{{ anim.title }}</a></h5>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Anime Section End -->

          <!-- Search model Begin -->
          <div class="search-model">
            <div class="h-100 d-flex align-items-center justify-content-center">
                <div class="search-close-switch"><i class="icon_close"></i></div>
                <form class="search-model-form">
                    <input type="text" id="search-input" placeholder="Search here.....">
                </form>
            </div>
        </div>
        <!-- Search model end -->



    </body>
    {%endblock%}
