{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Breadcrumb Begin -->
    <div class="breadcrumb-option">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="breadcrumb__links">
                        <a href="{% url 'Anima:index' %}"><i class="fa fa-home"></i> Home</a>
                        <a href="{% url 'Anima:categories' %}">Categories</a>
                        <a href="{% url 'Anima:category' anime.categories.first.slug %}">{{ anime.categories.first }}</a>
                        <span>{{ anime.title}} - Episode {{ video.episode }} {{ video.caption }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Anime Section Begin -->
    <section class="anime-details spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="anime__video__player">
                        <video id="player" playsinline controls data-poster="./videos/anime-watch.jpg">
                            <source src="{{ video.video.url }}" type="video/mp4" />
                            <!-- Captions are optional -->
                            <track kind="captions" label="English captions" src="#" srclang="en" default />
                        </video>
                    </div>
                    <div class="anime__details__episodes">
                        <div class="section-title">
                            <h5>Series</h5>
                        </div>
                        {% for vid in videos%}
                        <a href="{% url 'Anima:player' anime.slug  vid.episode%}">Ep {{ forloop.counter }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Anime Section End -->


      <!-- Search model Begin -->
      <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch"><i class="icon_close"></i></div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>

</body>

{% endblock %}