{% extends 'main/base.html' %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Anime Template">
    <meta name="keywords" content="Anime, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Anime | Template</title>

    
</head>

<body>
    {% block content%}
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    

    <!-- Hero Section Begin -->
    <section class="hero">
        <div class="container">
            <div class="hero__slider owl-carousel">
                {% for banner in banners%}
                <div class="hero__items set-bg" data-setbg="{{banner.banner_image.url}}">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="hero__text">
                                <div class="label">{{banner.anime.categories.first}}</div>
                                <h2>{{banner.anime.title}}</h2>
                                <p style='color: white'>{{banner.description}}</p>
                                <a href="{% url 'Anima:anime' banner.anime.slug %}"><span>Watch Now</span> <i class="fa fa-angle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </section>
    <!-- Hero Section End -->

    <!-- Product Section Begin -->
    <section class="product spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="trending__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Trending Now</h4>
                                </div>
                            </div>
                            
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in animes|slice:6%}
                            {% if anime.trending%}
                            <div class="col-lg-4 col-md-6 col-sm-6">
                            
                                <div class="product__item">
                                    <a href={% url 'Anima:anime' anime.slug %}>
                                    <div class="product__item__pic set-bg" data-setbg="{{anime.image.url}}">

                                        <div class="ep">{{anime.date_aired|date:"M , Y"}}</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{ reviews|review_in_category:anime.id|length }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                    </div>
                                    </a>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for genre in anime.categories.all%}
                                           <li><a style="color: white" href="{% url 'Anima:category' genre.slug %}">{{genre}}</a></li>
                                            {%endfor%}
                                            
                                        </ul>
                                        <h5><a href="#">{{anime.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                            {%endif%}
                            {%endfor%}
                        </div>
                        
                    </div>
                    <div class="popular__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Popular Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            {% for anime in animes|slice:6 %}
                                {% if anime.popular %}
                            <div class="col-lg-4 col-md-6 col-sm-6">

                                <div class="product__item">
                                    <a href={% url 'Anima:anime' anime.slug %}>
                                    <div class="product__item__pic set-bg" data-setbg="{{anime.image.url}}">

                                        <div class="ep">{{anime.date_aired|date:"M , Y"}}</div>
                                        <div class="comment"><i class="fa fa-comments"></i> {{ reviews|review_in_category:anime.id|length }}</div>
                                        <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                    </div>
                                    </a>
                                    <div class="product__item__text">
                                        <ul>
                                            {% for genre in anime.categories.all%}
                                            <li><a style="color: white" href="{% url 'Anima:category' genre.slug %}">{{genre}}</a></li>
                                            {%endfor%}

                                        </ul>
                                        <h5><a href="#">{{anime.title}}</a></h5>
                                    </div>
                                </div>
                            </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div class="recent__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Recently Added Shows</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/recent/recent-1.jpg">
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="#">Great Teacher Onizuka</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="live__product">
                        <div class="row">
                            <div class="col-lg-8 col-md-8 col-sm-8">
                                <div class="section-title">
                                    <h4>Live Action</h4>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4">
                                <div class="btn__all">
                                    <a href="#" class="primary-btn">View All <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-6">
                                <div class="product__item">
                                    <div class="product__item__pic set-bg" data-setbg="img/live/live-1.jpg">
                                        <div class="ep">18 / 18</div>
                                        <div class="comment"><i class="fa fa-comments"></i> 11</div>
                                        <div class="view"><i class="fa fa-eye"></i> 9141</div>
                                    </div>
                                    <div class="product__item__text">
                                        <ul>
                                            <li>Active</li>
                                            <li>Movie</li>
                                        </ul>
                                        <h5><a href="#">Shouwa Genroku Rakugo Shinjuu</a></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-8">
                    <div class="product__sidebar">
                        <div class="product__sidebar__view">
                            <div class="section-title">
                                <h5>Top Views</h5>
                            </div>
                            {% for anime in top_views_animes|slice:4 %}
                            <div class="filter__gallery">
                                <a href={% url 'Anima:anime' anime.slug %}>
                                <div class="product__sidebar__view__item set-bg"
                                     data-setbg={{ anime.image.url }}>

                                <div class="ep">{{anime.date_aired|date:"M , Y"}}</div>
                                <div class="view"><i class="fa fa-eye"></i> {{ anime.views }}</div>
                                <h5 style="color: white">{{ anime.title }}</h5>
                            </div>
                                </a>
                                {% endfor %}
        </div>
    </div>
    <div class="product__sidebar__comment">
        <div class="section-title">
            <h5>New Comment</h5>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-1.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">The Seven Deadly Sins: Wrath of the Gods</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-2.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">Shirogane Tamashii hen Kouhan sen</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-3.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">Kizumonogatari III: Reiket su-hen</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
        <div class="product__sidebar__comment__item">
            <div class="product__sidebar__comment__item__pic">
                <img src="img/sidebar/comment-4.jpg" alt="">
            </div>
            <div class="product__sidebar__comment__item__text">
                <ul>
                    <li>Active</li>
                    <li>Movie</li>
                </ul>
                <h5><a href="#">Monogatari Series: Second Season</a></h5>
                <span><i class="fa fa-eye"></i> 19.141 Viewes</span>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</section>
<!-- Product Section End -->


  <!-- Search model Begin -->
  <div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch"><i class="icon_close"></i></div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>
<!-- Search model end -->
{%endblock%}


</body>

</html>